.todo-head-container {
  display: flex;
  background-color: beige;
}
.todo-container {
  display: flex;
}

.todo-items {
  text-align: justify;
}

.todo-inputs {
  background-color: cornflowerblue;
  align-items: flex-start;
}

.todo-rows {
  border: 1px black solid;
  margin: auto;
  width: 100%;
  display: contents;
}

.todo-items-containers {
  background-color: rgb(201, 209, 91);
  display: flex;
}

.todo-column {
  margin: 10px 5px;
  width: 200%;
  align-items: flex-start;
}
